<ul>
    <li><a href="{{ path('app_entry') }}">Index</a></li>
    <li><a href="{{ path('app_core_serializer') }}">Symfony Core Serializer</a></li>
    <li><a href="{{ path('app_jms_serializer') }}">JMS Serializer</a></li>
</ul>