{% extends 'base.html.twig' %}

{% block title %}Hello EntryController!{% endblock %}

{% block body %}
        <h1>Serializers overview</h1>
        <h2>Symfony Core Serializer</h2>
        <h3>Installation...</h3>
        <code>composer require serializer</code><br/>
        <code>composer require symfony/property-info</code><br/>
        <code>composer require symfony/property-access</code>
        <h2>JMS Serializer</h2>
        <h3>Installation</h3>
        <code>composer require jms/serializer-bundle</code>
{% endblock %}
